.google-translate-holder {
  position: fixed;
  left: -9999px;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  top: 0 !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.skiptranslate iframe {
  visibility: hidden !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

.language-switcher {
  text-transform: none;
}
