/*
Legal page styles
*/
.center_legal {
  padding-top: 40px;
  padding-bottom: 70px;
  background: #f4f4f4;
}

#legal_page {
  padding-top: 40px;
  padding-bottom: 30px;
}

.legal_card {
  background: #fff;
  border: 1px solid #e3e3e3;
  padding: 25px;
}

.legal_card h3 {
  margin-top: 25px;
}

.legal_card h3:first-child {
  margin-top: 0;
}

.legal_card ul {
  margin-top: 8px;
  padding-left: 20px;
  list-style: disc;
}

.legal_card li {
  margin-bottom: 8px;
}

.legal_meta {
  margin-top: 12px;
  color: #555;
}

.legal_anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .legal_card {
    padding: 18px;
  }
}
